* {
  box-sizing: border-box;
}

$blue: #00adef;
$green: #3aba9b;
$orange: #f15e22;
$pink: #e6235a;

body {
  background-color: #eee;
}

.page {
  width: 215mm;
  height: 279mm;
  padding: 1in .31in .57in .34in;
  background-color: #FFF;
}

.item {
  width: calc(4in - 6px);
  height: 3in;
  border: 1px solid #eee;
  padding: 1cm 15mm;
  position: relative;
  font-family: 'proxima-nova';
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 -5px 0 0;

  .color-bar {
    position: absolute;
    left: 0;
    bottom: -39px;
    height: 10mm;
    width: 3in;
    background-color: #ddd;
    transform: rotate(-90deg);
    transform-origin: top left;
    padding: 1px 10px;

    .sector {
      color: white;
      padding: 0;
      line-height: 1;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 1px;
      opacity: .5;
    }
  }

  .government { background-color: $blue; }
  .private { background-color: $green; }
  .ngo { background-color: $orange; }
  .education { background-color: $pink; }

  h1, h2, h3 {
    margin: 0;
    padding: 0;
    width: 310px;
  } 

  h1 {
    margin-top: 40px;
    font-size: 32px;
    color: #51307F;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 6px;
    color: #999;
    letter-spacing: .5px;
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    padding: 11px;
    width: 58px;
    height: 58px;

    img {
      width: 36px;
      height: 36px;
      opacity: .5;
    }
  }

  .branding {
    font-weight: 100;
    position: absolute;
    bottom: 5mm;
    width: calc(100% - 25mm);

    p {
      margin: 0;
      overflow: hidden;
      vertical-align: bottom;
    }

    .logo {
      width: 10mm;
      float: left;
      margin-right: 5mm;
    }

    .event-name {
      font-size: 16px;
    }

    .date, .place {
      font-size: 12px;
      float: left;
      text-transform: uppercase;
    }

    .place {
      float: right;
      text-align: right;
      padding-top: 3px;
    }
  }
}

@media print {
  .page-break { display: block; page-break-before: always; }
}