<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <link rel="stylesheet" href="static/styles/styles.css">
  <script src="//use.typekit.net/pgm4fwy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
</head>
<body>
  <div class="page">  
    {% for tag in badges %}
    <div class="item">
      <div class="color-bar {{tag.sector}}"></div>
      <h1 class="name">{{tag.name}}</h1>
      <h2>{{tag.job}}</h2>
      <div class="icon">
        <img src="static/{{tag.field}}.svg" alt="">
      </div>
      <div class="branding">
        <div class="logo"><img src="static/logo.svg" alt=""></div>
        <p class="event-name">Accelerating Data Collaboratives</p>
        <p><span class="date">March 20<sup>th</sup> 2015</span> <span class="place">Washington DC</span></p>
      </div>
    </div>
    {% if loop.index is divisibleby 6 %}
    <div class="page-break"></div><!-- Every 6 badges -->
    {% endif %}
    {% endfor %}
  </div>
</body>
</html>