<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <link rel="stylesheet" href="static/styles/styles.css">
  <script src="//use.typekit.net/pgm4fwy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
</head>
<body>

    <div class="page">
    {% for tag in badges %}  
    <div class="item">
      {% if tag.field != 'TBD' %}
      <div style="background-color: white;" class="icon {{tag.sector}}">
        <img class="reverse" src="static/{{tag.field}}.svg" alt="">
      </div>
      {% endif %}
      <div class="color-bar {{tag.sector}}">
        <span class="sector">.{{tag.sector}}</span>
      </div>

      {% if tag.speaker == 'Speaker' %}
      <div class="speaker">
        <span>speaker</span>
      </div>
      {% endif %}

      <h1 class="name">{{tag.fname}} {{tag.lname}}</h1>
      <h2>{{tag.job + "&nbsp;<br/>"}}</h2>
      <h3>{{tag.org}}</h3>
      
      <div class="branding">
        {#<div class="logo"><img src="static/logo.svg" alt=""></div>#}
        <p class="event-name">Accelerating Data Collaboratives</p>
        <p><span class="date">March 20, 2015 – Washington, DC</span></p>
      </div>
    </div>
    {% if loop.index is divisibleby 6 %}
    </div> <!-- class="page" -->
    <div class="page-break"></div><!-- Every 6 badges -->
    <div class="page">  
    {% endif %}
    {% endfor %}
  </div>
</body>
</html>